
.pad-swiper{
    padding: 0 4.1666665% !important;
}


.swiper-slide-visible{
    background-color: red !important;
}


@media screen and (min-width: 1024px){
    .pad-swiper{
        padding: 0 8.3333335% !important;
    } 

}