<swiper [config]=config2 class="pad-swiper">
    <ng-container >
        <ng-template swiperSlide class="my-12 overflow-hidden">
            <div class="lg:flex">
                <div class="lg:w-7/12 h-72 overflow-hidden flex items-center rounded-t-3xl">
                    <figure class="w-full">
                        <img class="w-full" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class=" xs:border xs:border-gray-500 xs:border-t-0 xs:rounded-b-3xl xs:px-4 lg:w-5/12">
                    <div class="mb-12 mt-4">
                        <h1 class="text-2xl text-left font-bold xl:text-4xl">Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA</h1>
                        <p>Lcitationem natus ad sequi repellendus aliquam. Non illo ipsum iusto sit modi qui odit omnis voluptatibus distinctio iste.</p>
                    </div>
                    <div class="xs:flex lg:block">
                        <div class="mb-4 xs:w-4/12">
                            <h2 class="text-2xl text-left font-bold xl:text-4xl">S/ 1323*</h2>
                            <p class="text-gray-800">*Incluye IGV</p>
                        </div>
                        <div class="xs:w-8/12">
                            <div class="flex justify-end">
                                <button class="bg-blue-500 py-3 text-white font-semibold rounded-3xl w-full max-w-xs hover:bg-blue-600 ease-in duration-200 outline-none focus:outline-none mx-auto">CALCULAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </ng-template>   
        <ng-template swiperSlide class="my-12 overflow-hidden">
            <div class="lg:flex">
                <div class="lg:w-7/12 h-72 overflow-hidden flex items-center rounded-t-3xl">
                    <figure class="w-full">
                        <img class="w-full" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="lg:w-5/12 xs:border xs:border-gray-500 xs:border-t-0 xs:rounded-b-3xl xs:px-4 ">
                    <div class="mb-12 mt-4">
                        <h1 class="text-2xl text-left font-bold xl:text-4xl">Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA</h1>
                        <p>Lcitationem natus ad sequi repellendus aliquam. Non illo ipsum iusto sit modi qui odit omnis voluptatibus distinctio iste.</p>
                    </div>
                    <div class="xs:flex lg:block">
                        <div class="mb-4 xs:w-4/12">
                            <h2 class="text-2xl text-left font-bold xl:text-4xl">S/ 1323*</h2>
                            <p class="text-gray-800">*Incluye IGV</p>
                        </div>
                        <div class="xs:w-8/12">
                            <div class="flex justify-end">
                                <button class="bg-blue-500 py-3 text-white font-semibold rounded-3xl w-full max-w-xs hover:bg-blue-600 ease-in duration-200 outline-none focus:outline-none mx-auto">CALCULAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </ng-template>   
        <ng-template swiperSlide class="my-12 overflow-hidden">
            <div class="lg:flex">
                <div class="lg:w-7/12 h-72 overflow-hidden flex items-center rounded-t-3xl">
                    <figure class="w-full">
                        <img class="w-full" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="lg:w-5/12 xs:border xs:border-gray-500 xs:border-t-0 xs:rounded-b-3xl xs:px-4 ">
                    <div class="mb-12 mt-4">
                        <h1 class="text-2xl text-left font-bold xl:text-4xl">Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA</h1>
                        <p>Lcitationem natus ad sequi repellendus aliquam. Non illo ipsum iusto sit modi qui odit omnis voluptatibus distinctio iste.</p>
                    </div>
                    <div class="xs:flex lg:block">
                        <div class="mb-4 xs:w-4/12">
                            <h2 class="text-2xl text-left font-bold xl:text-4xl">S/ 1323*</h2>
                            <p class="text-gray-800">*Incluye IGV</p>
                        </div>
                        <div class="xs:w-8/12">
                            <div class="flex justify-end">
                                <button class="bg-blue-500 py-3 text-white font-semibold rounded-3xl w-full max-w-xs hover:bg-blue-600 ease-in duration-200 outline-none focus:outline-none mx-auto">CALCULAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </ng-template>   
                
    </ng-container>
</swiper>