<swiper
[slidesPerView]="1"
[spaceBetween]="0"
(swiper)="onSwiper($event)"
(slideChange)="onSlideChange()"
[navigation]="true"
[pagination]="{ clickable: true }"
[scrollbar]="{ draggable: true }"
>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 1</ng-template>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 2</ng-template>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 3</ng-template>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 4</ng-template>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 5</ng-template>
<ng-template swiperSlide class="h-40 bg-gray-500">Slide 6</ng-template>
</swiper>