<div class="bg-gray-500 px-5p py-2 lg:w-10/12 lg:rounded-b-4xl lg:py-4 m-auto">
    <div class="flex items-center md:justify-center md:m-auto">
        <div class="w-2/12 mr-5 max-w-25">
            <figure>
                <img src="../assets/icons/icon-bag-blue.svg" alt="">
            </figure>
        </div>
        <div class="">
            <p class="text-green-500 font-semibold">Entrega disponible solo para ciertos distritos de Lima Metropolitana y Callao <strong class="text-gray-900 font-semibold underline cursor-pointer" (click)="toggleModal()">Ver distritos</strong></p>
        </div>
    </div>
</div>
<header class="flex justify-between w-11/12 m-auto pt-4 pb-4 lg:w-10/12">
    <div class="w-5/12 max-w-150">
        <figure>
            <img src="../assets/icons/logoazul.svg" alt="">
        </figure>
    </div>
    <div class="flex items-center">
        <div class="w-7 ml-5 lg:hidden">
            <figure>
                <img src="../assets/icons/icon-search-blue.svg" alt="">
            </figure>
        </div>
        <div class="hidden lg:flex w-96 h-12 rounded-3xl bg-gray-500">
        </div>
        <div class="hidden lg:flex w-72">
            <button class="bg-gray-500 py-3 text-blue-500 font-semibold rounded-3xl w-11/12 max-w-xs my-1 hover:bg-gray-600 ease-in duration-200 outline-none focus:outline-none mx-auto">INGRESAR</button>
        </div>
        <div class="relative w-7 ml-5">
            <figure>
                <img src="../assets/icons/icon-bag-blue.svg" alt="">
            </figure>
        </div>
        <div class="w-7 ml-5 lg:hidden">
            <figure>
                <img src="../assets/icons/icon-person-blue.svg" alt="">
            </figure>
        </div>
    </div>
</header>

<button class="hamburger hamburger--spin" type="button" (click)="clickEvent()" [ngClass]="status ? 'is-active' : 'danger'">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button> 

<app-persona></app-persona>

<app-promo></app-promo>



<div class="flex">
    <button class="bg-gray-500 py-3 text-blue-500 font-semibold rounded-3xl w-11/12 max-w-xs my-1  hover:bg-gray-600 ease-in duration-200 outline-none focus:outline-none mx-auto">CONTINUAR</button>
</div>
<div class="flex">
    <button class="bg-blue-500 py-3 text-white font-semibold rounded-3xl w-11/12 max-w-xs my-1 hover:bg-blue-600 ease-in duration-200 outline-none focus:outline-none mx-auto">CALCULAR</button>
</div>

<p class="text-2xl text-left font-bold xl:text-4xl">
    Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
</p>
<div class="w-11/12 mx-auto">
    <div class="mt-4 relative">
        <input class="input" type="text" id="name" required>
        <label class="input-label" for="name">Nombre</label>
    </div>
    <div class="mt-4 relative">
        <input class="input" type="email" id="mail" required>
        <label class="input-label" for="mail">Correo</label>
    </div>
    <div class="mt-4 relative">
        <input class="input" type="tel" id="phone" required>
        <label class="input-label" for="phone">Celular</label>
    </div>
    <div class="mt-4 relative">
        <select name="country" id="country" class="input" required>
            <option value="" hidden></option>
            <option value="Brasil">Brasil</option>
            <option value="Mexico">Mexico</option>
            <option value="Peru">Pedu</option>
        </select>
        <label class="input-label" for="country">Pais</label>
    </div>




</div>

<div class="">
    <label class="checkbox">
        <input type="checkbox" class="absolute opacity-0 cursor-pointer">
        <span class="span">        
        </span> 
        Recojo en almacén
    </label>
</div>

<div class="w-11/12 m-auto mt-10 md:flex md:justify-between md:flex-wrap lg:w-10/12">
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm  last:justify-start">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://galicianeumaticos.com.uy/wp-content/uploads/2020/10/LiquiMoly-Top-Tec-4100-5W40.png" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://catalog.zodiac.nl/media/zodiac-generated/0098e695/138e/4f09/96fe/ab10d92d1dad/standard-rgba.png" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://peru21.pe/resizer/C4dsY5HdUWZOre3-UPaz-2No3Us=/980x528/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/PQ5UN3QSY5C6ZABTZI5H7JNA64.jpg" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <div class="flex">
                        <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                        <p class="font-bold text-xl text-blue-500">S/124</p>

                    </div>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
</div>


<div class="w-11/12 m-auto md:flex md:flex-wrap md:justify-between lg:w-10/12">

    <div class="mb-12 md:w-2i 2xl:w-4i">
        <div class="w-11">
            <figure>
                <img src="../assets/icons/icon-bagsave-blue.svg" alt="">
            </figure>
        </div>
        <div class="mt-2">
            <h2 class="font-bold text-xl">
                Productos genuinos
            </h2>
            <p class="md:text-xl">
                Distribuimos solo marcas seleccionadas y con certificado de autenticidad. 
            </p>
        </div>
    </div>
    <div class="mb-12 md:w-2i 2xl:w-4i">
        <div class="w-11">
            <figure>
                <img src="../assets/icons/icon-headphone-blue.svg" alt="">
            </figure>
        </div>
        <div class="mt-2">
            <h2 class="font-bold text-xl">
                Asesoramiento
            </h2>
            <p class="md:text-xl">
                Soporte para que elijas el producto indicado, nuestro equipo te ofrecerá su experiencia técnica. 
            </p>
        </div>
    </div>
    <div class="mb-12 md:w-2i 2xl:w-4i">
        <div class="w-11">
            <figure>
                <img src="../assets/icons/icon-time-blue.svg" alt="">
            </figure>
        </div>
        <div class="mt-2">
            <h2 class="font-bold text-xl">
                Entrega optimizada
            </h2>
            <p class="md:text-xl">
                Recibe en tu hogar o taller los productos ordenados en menos de 48 horas.
            </p>
        </div>
    </div>
    <div class="mb-12 md:w-2i 2xl:w-4i">
        <div class="w-11">
            <figure>
                <img src="../assets/icons/icon-shield-blue.svg" alt="">
            </figure>
        </div>
        <div class="mt-2">
            <h2 class="font-bold text-xl">
                Compra segura
            </h2>
            <p class="md:text-xl">
                Certificado SSL y otras cosas masmasmas raa. 
            </p>
        </div>
    </div>

</div>


<div class="">
    <div class="">

    </div>
</div>
<div class="app">   
    <app-modal [show]="showModal" [customClass]="'custom_modal_class'" [closeCallback]="toggleModal">
        <div class="lg:flex lg:justify-between">
            <div class=" w-full lg:w-8/12">
                <figure>
                    <img src="https://mecaluxes.cdnwm.com/blog/img/clasificacion-mercancias-abc-distribucion-almacen.1.4.jpg" alt="">
                </figure>
            </div>
            <div class="w-11/12 lg:w-4/12 mx-auto pt-4">
                <div>
                    <h1 class="font-bold">
                        Entrega disponible
                    </h1>
                    <p>
                        
                        Recuerda que solo atendemos a 24 distritos de Lima metropolitana y Callao, si no perteneces a estos distritos tambien tienes la opción de recojo en almacén.
                    </p>
                </div>
                <div>
                    <app-ditricts></app-ditricts>
                </div>
            </div>
            <div (click)="toggleModal()" class=" absolute right-6 top-6 w-12 h-12 rounded-full bg-gray-500 cursor-pointer">
                <figure class="p-3">
                    <img src="../assets/icons/icon-close-blue.svg" alt="">
                </figure>
            </div>

        </div>
    </app-modal>
</div>





<div class="w-11/12 m-auto mt-10 md:flex md:justify-between md:flex-wrap lg:w-10/12">
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm  last:justify-start">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://galicianeumaticos.com.uy/wp-content/uploads/2020/10/LiquiMoly-Top-Tec-4100-5W40.png" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://catalog.zodiac.nl/media/zodiac-generated/0098e695/138e/4f09/96fe/ab10d92d1dad/standard-rgba.png" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://peru21.pe/resizer/C4dsY5HdUWZOre3-UPaz-2No3Us=/980x528/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/PQ5UN3QSY5C6ZABTZI5H7JNA64.jpg" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-600 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <p class="font-bold text-xl">S/124</p>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-10 m-auto md:w-2i md:-mx-0 md:max-w-none xl:w-3i 2xl:w-4i max-w-sm ">
        <div class="overflow-hidden w-full h-72">
            <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
            </figure>
        </div>
        <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
            <div class="w-11/12 m-auto">
                <div>
                    <p class="font-bold">LIQUI MOLY</p>
                    <h1 class="text-xl text-left ">
                        Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                    </h1>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <div class="flex">
                        <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                        <p class="font-bold text-xl text-blue-500">S/124</p>

                    </div>
                    <div class="w-12 h-12 bg-gray-500 rounded-full">
                        <figure class="flex p-3 h-full">
                            <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
</div>


<swiper [config]=config class="pad-swiper">
    <ng-container >
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="mb-10 m-auto  w-full md:-mx-0">
                <div class="overflow-hidden w-full h-72">
                    <figure class="flex items-center justify-center pt-12 pb-12 h-full overflow-hidden rounded-t-3xl bg-gray-500">
                        <img class="w-6/12" src="https://i.insider.com/578e9e4588e4a77c708b8db1?width=750&format=jpeg&auto=webp" alt="">
                    </figure>
                </div>
                <div class="py-4 border border-gray-500 border-t-0 rounded-b-3xl ">
                    <div class="w-11/12 m-auto">
                        <div>
                            <p class="font-bold">LIQUI MOLY</p>
                            <h1 class="text-xl text-left ">
                                Synthoil Longtime 0W-30 H8-AGM Group Size 49 900 CCA
                            </h1>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <div class="flex">
                                <p class="font-bold text-xl text-gray-600 line-through mr-4">S/174</p>
                                <p class="font-bold text-xl text-blue-500">S/124</p>
        
                            </div>
                            <div class="w-12 h-12 bg-gray-500 rounded-full">
                                <figure class="flex p-3 h-full">
                                    <img src="../assets/icons/icon-arrow-blue.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        


   </ng-container>


</swiper>
