<div [ngClass]="customClass || ''" class="modal fixed top-0 left-0 w-full h-full justify-center items-center" [ngStyle]="{display: show ? 'block' : 'none'}">
    <div class="absolute left-0 top-0 w-full h-full overlay bg-white bg-opacity-50" (click)="closeCallback()"></div>
    <div class="modal_content absolute transform -translate-x-2/4 -translate-y-2/4 overflow-auto top-2/4 left-2/4 bg-white w-11/12 rounded-4xl max-w-screen-lg shadow-2xl mx-auto">
      <ng-content></ng-content>
    </div>
  </div>