.modal {
  z-index: 990;    
  backdrop-filter: blur(6px);
  }
  
.modal .overlay {
  /* background-color: rgba(255,255,255,0.6); */
}

.modal_content {
/*     transform: translate(-50%, -50%); */
    max-height: 90%;
    overflow: auto;
}
    