/* You can add global styles to this file, and also import other style files */
@import '~hamburgers/dist/hamburgers.css';
@import '~swiper/swiper-bundle';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

    .swiper-promo-active{
        @apply px-4; 
    }
    .swiper-pagination-bullet{
        @apply bg-gray-800 duration-200;
    }
    .swiper-pagination-bullet-active{
        @apply bg-blue-500 w-7 rounded-xl duration-200;
    }
    .input{
        @apply bg-gray-500 pb-3 pt-6 pl-4 rounded-3xl outline-none w-full focus:ring-1 focus:ring-blue-500 ease-in duration-200 max-w-sm ;
    }
    
    .input-label{
        @apply absolute top-0 left-0 font-bold text-gray-900 pl-4 pt-4 ease-in-out duration-200  ;
    }

    .input:focus + .input-label{
        @apply text-sm text-blue-500 pt-2;
    }

    .input:valid + .input-label{
        @apply text-sm text-blue-500 pt-2;
    }


    .checkbox{
        @apply flex items-center ml-3 ;
    }

    .span{
        @apply relative top-0 left-0 h-8 w-8 bg-white rounded-xl ease-in-out duration-200 mr-4 cursor-pointer border border-gray-900;
    }

    .span::after{
        content: "";
        @apply absolute left-2 top-5 h-0 w-0 rounded border-t-0 border-r-2 border-b-2 border-l-0 rotate-45 opacity-100 ease-in-out duration-200 scale-0;
    }

    .checkbox input:checked ~ .span{
        @apply bg-blue-500 rounded-xl transform rotate-0 opacity-100 border-blue-500;
    }
    .checkbox input:checked ~ .span::after{
        @apply origin-center transform rotate-45 opacity-100 left-3 top-2 w-2 h-3 border-white border-t-0 border-r-2 border-b-2 border-l-0 bg-transparent rounded-none;
    }



    @media screen and (min-width: 475px){
        .swiper-promo-active{
            @apply px-8; 
        }
        
    }
    @media screen and (min-width: 768px){
        
        .swiper-promo-active{
            @apply px-16; 
        }

    }

    @media screen and (min-width: 1024px){
        .swiper-promo-active{
            @apply px-20; 
        }
        
        
        
    }
    @media screen and (min-width: 1280px){
        .swiper-promo-active{
            @apply px-32; 
        }
    }